.git
.gitignore
__pycache__/
*.py[cod]
*.pyd
*.log
*.sqlite3
*.egg-info/
.venv
.env
venv/
dist/
build/
.mypy_cache/
.pytest_cache/
.cache/
node_modules/
.idea/
.vscode/
.docker-compose.local.yml
test/
tests/
*.ipynb
__state_log__*.json
*.bat
docs/
implementations/
multiagent-*.md